!!!
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Games Keeper for iPhone and iPod touch
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://www.studioamanga.com/img/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "../img/touch-icon-iphone4.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "../img/touch-icon-ipad.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %meta{:content => "Studio AMANgA is an independant website/app producer.", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "app-id=674138310", :name => "apple-itunes-app"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18279263-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      currentScreenshotIndex = 1;
      previousScreenshot = null;
      setInterval(alternateScreenshots, 5000);
      
      function alternateScreenshots()
      {
        newScreenshot = document.getElementById('screen'+currentScreenshotIndex);
        if (previousScreenshot)
          previousScreenshot.style.opacity = '0';
        newScreenshot.style.opacity = '1';
        previousScreenshot = newScreenshot;
        currentScreenshotIndex ++;
        if (currentScreenshotIndex > 3) 
          currentScreenshotIndex = 1;
      }
  %body
    %header.general
      %nav
        %ul
          %li
            %a{:href => "http://www.studioamanga.com/"}
              %img{:alt => "StdAMG", :src => "img/icon-amg.png"}/
              %span Studio AMANgA
          %li
            %a{:href => "http://www.studioamanga.com/news.html"}
              %img{:alt => "Feed", :src => "img/icon-feed.png"}/
              %span News
          %li
            %a{:href => "http://www.studioamanga.com/contacts/"}
              %img{:alt => "Contacts", :src => "img/icon-contacts.png"}/
              %span Contact[s]
          %li
            %a{:href => "http://www.studioamanga.com/onelist/"}
              %img{:alt => "1List", :src => "img/icon-onelist.png"}/
              %span 1List
          %li
            %a{:href => "http://www.studioamanga.com/wizbox/"}
              %img{:alt => "WizBox", :src => "img/icon-wizbox.png"}/
              %span WizBox
    %header.top
      %img.icon{:alt => "Icon", :src => "img/Icon-72.png"}/
      %h1 Games Keeper
    %section#main
      %section#screenshots
        %img#screen0{:alt => "iPhone", :src => "img/iphone-5.png"}/
        %img#screen4{:alt => "New Game Screenshot", :src => "img/screen-3-ip5.png"}/
        %img#screen3{:alt => "Results Screenshot", :src => "img/screen-2-ip5.png"}/
        %img#screen2{:alt => "Scores Screenshot", :src => "img/screen-1-ip5.png"}/
      %section#features
        %header.insert
          %img.icon{:alt => "Icon", :src => "img/Icon-72.png"}/
          %h1 Games Keeper
        %h2 Enjoy the Game.
        %p
          Games Keeper is the easiest way to track scores.
        %p
          It works with every game, every time, with everyone.
        %h2{:style => "margin-top: 50px; font-weight: bold; font-size: 2em;"}
          %a{:href => "https://itunes.apple.com/app/games-keeper/id674138310"}
            %img{:alt => "Download", :src => "img/download-appstore-225.png"}/
    %footer
      %a{:href => "http://www.studioamanga.com"}
        %img{:alt => "StdAMG", :src => "img/amgmini-black.png"}/
      %p
        “Games Keeper” for iPhone and iPod touch - Designed by Studio AMANgA - 2013
