!!!
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Contact[s] - The Beautiful Address Book for iPhone and iPod touch
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://www.studioamanga.com/img/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "../img/touch-icon-iphone4.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "../img/touch-icon-ipad.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %meta{:content => "Studio AMANgA is an independant website/app producer.", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "app-id=639507613", :name => "apple-itunes-app"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18279263-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      currentScreenshotIndex = 1;
      previousScreenshot = null;
      setInterval(alternateScreenshots, 5000);
      
      function alternateScreenshots()
      {
        newScreenshot = document.getElementById('screen'+currentScreenshotIndex);
        if (previousScreenshot)
          previousScreenshot.style.opacity = '0';
        newScreenshot.style.opacity = '1';
        previousScreenshot = newScreenshot;
        currentScreenshotIndex ++;
        if (currentScreenshotIndex > 4) 
          currentScreenshotIndex = 1;
      }
  %body
    %header.general
      %nav
        %ul
          %li
            %a{:href => "http://www.studioamanga.com/"}
              %img{:alt => "StdAMG", :src => "img/icon-amg.png"}/
              %span Studio AMANgA
          %li
            %a{:href => "http://www.studioamanga.com/news.html"}
              %img{:alt => "Feed", :src => "img/icon-feed.png"}/
              %span News
          %li
            %a{:href => "http://www.studioamanga.com/contacts/"}
              %img{:alt => "Contacts", :src => "img/icon-contacts.png"}/
              %span Contact[s]
          %li
            %a{:href => "http://www.studioamanga.com/onelist/"}
              %img{:alt => "1List", :src => "img/icon-onelist.png"}/
              %span 1List
          %li
            %a{:href => "http://www.studioamanga.com/wizbox/"}
              %img{:alt => "WizBox", :src => "img/icon-wizbox.png"}/
              %span WizBox
    %header.top
      %img.icon{:alt => "Icon", :src => "img/icon-72.png"}/
      %h1 Contact[s]
    %section#main
      %section#screenshots
        %img#screen0{:alt => "iPhone", :src => "img/iphone-5.png"}/
        %img#screen4{:alt => "Details Screenshot", :src => "img/screen-4-ip5.png"}/
        %img#screen3{:alt => "Tweet Screenshot", :src => "img/screen-3-ip5.png"}/
        %img#screen2{:alt => "Contacts Screenshot", :src => "img/screen-2-ip5.png"}/
        %img#screen1{:alt => "Favorites Screenshot", :src => "img/screen-1-ip5.png"}/
      %section#features
        %header.insert
          %img.icon{:alt => "Icon", :src => "img/icon-72.png"}/
          %h1 Contact[s]
        %h2 Designed for the people you love.
        %p
          Quickly send phone calls, text messages, emails, and tweets.
          %br
          It’s
          %em that
          simple.
        %p
          Your contacts are always synchronized, you don’t have to worry about it.
        %p
          You can also use custom mail clients, like Sparrow and Gmail.
        %p
          %img.alticon{:alt => "Mail", :src => "img/icon-mail.png"}/
          %img.alticon{:alt => "Sparrow", :src => "img/icon-sparrow.png"}/
          %img.alticon{:alt => "Gmail", :src => "img/icon-gmail.png"}/
        %h2{:style => "margin-top: 50px; font-weight: bold; font-size: 2em;"}
          %a{:href => "https://itunes.apple.com/app/contact-s-2/id639507613?mt=8"}
            %img{:alt => "Download", :src => "img/download-appstore-225.png"}/
    %footer
      %a{:href => "http://www.studioamanga.com"}
        %img{:alt => "StdAMG", :src => "img/amgmini-black.png"}/
      %p
        “Contact[s]” for iPhone and iPod touch - Designed by Studio AMANgA - 2011/2013
        %br
        %a{:href => "presskit.zip"} Download the Press Kit
        %br
        Powered by 
        %a{:href => "https://github.com/heardrwt/RHAddressBook"} RHAddressBook
        %br
        Images: healingdream, photostock, graur razvan ionut, nuchylee, graur codrin /
        %a{:href => "http://www.freedigitalphotos.net/"} FreeDigitalPhotos.net
