!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Games Keeper for iPhone and iPad
    %link{:rel => "stylesheet", :href => "style.css?2021", :type => "text/css"}
    %link{:rel => "canonical", :href => "https://www.studioamanga.com/gameskeeper/"}
    %link{:rel => "shortcut icon", :href => "https://www.studioamanga.com/img/favicon.ico"}
    %meta{:name => "description", :content => "Games Keeper is the easiest way to track scores."}
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "apple-itunes-app", :content => "app-id=674138310"}
  %body
    %nav.general
      %a{:href => "https://www.studioamanga.com/"}
        %img{:alt => "StdAMG", :src => "img/icon-amg.png"}
        %span Studio AMANgA

    %header.top.cropped-bottom
      %div.title
        %img.icon{:alt => "Icon", :src => "img/icon-72-2x.png"}
        %h1 Games Keeper
      %div
        %img.showcase{:alt => "Screens", :src => "img/screens.png"}

    %section.main
      %div.tagline
        The easiest way to track scores.
        %br
        It works with every game, every time, with everyone.
        %blockquote
          %q Perfect. This app is amazing.
          ★★★★★
        %blockquote
          %q The only scoring app I’ll use.
          ★★★★★

      %div.feature
        %span.bulleticon ☆
        %h3 Unlimited Number of Players
        %p Invite all your friends.
      %div.feature
        %span.bulleticon ☆
        %h3 Visual Scores
        %p Visualize results with ranks and charts.
      %div.feature
        %span.bulleticon ☆
        %h3 Games History
        %p Keep track of all your scores.
      %div.feature
        %span.bulleticon ☆
        %h3 Built-in Tools
        %p Get timer, die, and online dictionary.

      %p.download
        %a{:href => "https://itunes.apple.com/app/games-keeper/id674138310?mt=8&at=1000lMiD"}
          %img{:alt => "Download on the App Store", :src => "img/download-appstore.svg"}/

    %footer
      %a{:href => "https://www.studioamanga.com"}
        %img{:alt => "StdAMG", :src => "img/amgmini-black.png"}/
      %p
        “Games Keeper” for iPhone, iPad, and iPod touch
        %br
        %a{:href => "releasenotes"}> Release Notes
        ,
        %a{:href => "privacy-policy"}Privacy Policy
        %br
        Made by Studio AMANgA 2013–2020
