!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Games Keeper: track scores on iPhone, iPad, and Mac
    %link{:rel => "stylesheet", :href => "style.css?2021b", :type => "text/css"}
    %link{:rel => "canonical", :href => "https://www.studioamanga.com/gameskeeper/"}
    %link{:rel => "shortcut icon", :href => "https://www.studioamanga.com/img/favicon.ico"}
    %meta{:name => "description", :content => "Games Keeper lets you track scores, no matter what game you play. From tabletop board games to role-playing games, and even outdoor sports."}
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "apple-itunes-app", :content => "app-id=674138310"}
  %body
    %nav.general
      %a{:href => "https://www.studioamanga.com/"}
        %img{:alt => "StdAMG", :src => "img/icon-amg.png"}
        %span Studio AMANgA

    %header.top.cropped-bottom
      %div.title
        %img.icon{:alt => "Icon", :src => "img/icon-72-2x.png"}
        %h1 Games Keeper
      %div
        %img.showcase{:alt => "Screens", :src => "img/screens.png"}

    %section.main
      %p.tagline
        Games Keeper lets you track scores, no matter what game you play.
        %blockquote
          %q Perfect. This app is amazing.
          ★★★★★
        %blockquote
          %q The only scoring app I’ll use.
          ★★★★★

      %p.download
        %a{:href => "https://apps.apple.com/app/memorii/id674138310"}
          %img{:alt => "Download on the App Store", :src => "img/download-appstore.svg"}/

      %p
        %strong From tabletop board games to role-playing games, and even outdoor sports.
        Games Keeper can track any number of players, with different game options (starting scores, hidden scores, lowest score wins, big and small points). It offers quick access to a timer, a dictionary, and dice roll. And you can track games on the go with the stand-alone Apple Watch app.

      %p
        %strong Visualize the scores with ranks and charts.
        You can also browse your full games history, with players and scores details, and export them as CSV (requires in-app purchase).

      %p
        %a{:href => "https://apps.apple.com/app/memorii/id674138310"}
          Download Games Keeper for free on the App Store and Mac App Store.

    %div.screenshots
      %img{:src => "img/device-1.png", :alt => "Screenshot game"}
      %img{:src => "img/device-2.png", :alt => "Screenshot scores"}
      %img{:src => "img/device-3.png", :alt => "Screenshot new game"}

    %footer
      %a{:href => "https://www.studioamanga.com"}
        %img{:alt => "StdAMG", :src => "img/amgmini-black.png"}/
      %p
        “Games Keeper” for iPhone, iPad, Apple Watch, and Mac
        %br
        Available in English and French / Disponible en anglais et français
        %br
        %a{:href => "releasenotes"} Release Notes
        ,
        %a{:href => "privacy-policy"} Privacy Policy
        %br
        Made by Studio AMANgA 2013–2021
